/*=====================================
proerty-th 
======================================*/

.proerty-th {
  margin-left: -9px;
}
.proerty-th .proerty-item {
  background-color: #fff;
  margin: 10px;
}
.proerty-th .proerty-item .item-thumb {
  position: relative;
}
.proerty-th .proerty-item:hover .item-thumb img {
  opacity: 1;
}
.proerty-th .proerty-item .item-thumb:hover .tm_mask {
  opacity: 1;
}
.proerty-th .proerty-item .item-thumb img {
  transition: all 0.2s linear 0s;
  display: block;
  position: relative;
  width: 100%;
  opacity: 0.7;
  min-height: 225px;
  max-height: 265px;
}
.proerty-th .proerty-item .item-entry {
  padding: 8px;
}
.properties-page .proerty-th .proerty-price {
  font-weight: 600;
  color: #fdc600;
}
.proerty-th .proerty-item .item-entry h5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}
.proerty-th .proerty-item .item-entry h5::after {
  width: 15px;
  left: 20px;
  height: 7px;
  content: "";
  position: absolute;
  bottom: -16px;
  display: block;
}

.dot-hr {
  border-bottom: 1px dotted #cecbc7;
  margin-bottom: 10px;
}

.box-two {
  background: #fff none repeat scroll 0% 0%;

  border: 1px solid #e6e6e6;
  box-sizing: border-box;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.overflow {
  overflow: hidden;
}

.content-area {
  background-color: #fcfcfc;
  padding-bottom: 55px;
}

.page-title {
  padding-top: 55px;
}
.page-title h5 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}
.page-title h2 {
  margin: 10px 0px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.page-title h2 span {
  color: #00adef;
}
.page-title p {
  font-size: 18px;
  padding: 10px 20% 25px;
  line-height: 27px;
}
.footer-area {
  border-top: 1px solid #d1d1d1;
  background: #555 url("../../assets/img/bg-footer.jpg") repeat scroll 0% 0%;
  color: #535353;
}
.footer-copy {
  background: rgba(213, 213, 213, 0.9) none repeat scroll 0% 0%;
  border-top: 0.051px solid rgba(162, 162, 162, 0.46);
  padding-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.footer-copy span {
  margin-right: 20px;
}
.footer-copy span a {
  font-weight: 500;
}
